*{
    color: darkorange;
    font-size: 50px;
}

.container{
    color: gold;
    animation: cambiaColor 2s infinite;
    font-size: 200px;

}

@keyframes cambiaColor {
    from{
        color:rgb(238, 238, 12);
    }
    to{
        color:black;
    }
}