*{
    color: darkorange;
    font-size: 50px;
}

.container{
    color: gold;
    animation: cambiaColor 2s infinite;

}

@keyframes cambiaColor {
    from{
        color:blue;
    }
    to{
        color:black;
    }
}